In [1]:
import pandas as pd
import numpy as np
from sklearn import ensemble
from sklearn import preprocessing,model_selection
from scipy.stats import mode

C:\Users\lenovo\Anaconda3\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [2]:
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder

In [9]:
data = pd.read_csv('train.csv',index_col='Loan_ID')

In [10]:
data.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
Loan_ID,,,,,,,,,,,,
LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [11]:
def num_missing(x):
    return sum(x.isnull())

In [12]:
data['Gender'].fillna(mode(list(data['Gender'])).mode[0], inplace=True)

C:\Users\lenovo\Anaconda3\lib\site-packages\scipy\stats\stats.py:245: RuntimeWarning: The input array could not be properly checked for nan values. nan values will be ignored.
  "values. nan values will be ignored.", RuntimeWarning)

In [13]:
data['Married'].fillna(mode(list(data['Married'])).mode[0], inplace=True)

C:\Users\lenovo\Anaconda3\lib\site-packages\scipy\stats\stats.py:245: RuntimeWarning: The input array could not be properly checked for nan values. nan values will be ignored.
  "values. nan values will be ignored.", RuntimeWarning)

In [15]:
data['Self_Employed'].fillna(mode(list(data['Self_Employed'])).mode[0], inplace=True)

C:\Users\lenovo\Anaconda3\lib\site-packages\scipy\stats\stats.py:245: RuntimeWarning: The input array could not be properly checked for nan values. nan values will be ignored.
  "values. nan values will be ignored.", RuntimeWarning)

In [16]:
data['LoanAmount'].count()

592

In [17]:
data['LoanAmount'].fillna(data['LoanAmount'].mean(), inplace=True)

In [18]:
mapping={'0':0,'1':1,'2':2,'3+':3}

In [19]:
data = data.replace({'Dependents':mapping})

In [20]:
data['Dependents'].fillna(data['Dependents'].mean(), inplace=True)

In [21]:
data['Loan_Amount_Term'].fillna(method='ffill',inplace=True)

In [22]:
data['Credit_History'].fillna(method='ffill',inplace=True)

In [23]:
print (data.apply(num_missing, axis=0))

Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [28]:
var_mod = ['Gender','Married','Education','Self_Employed','Property_Area','Loan_Status']
le = LabelEncoder()
for i in var_mod:
    le.fit(list(data[i].values))
    data[i] = le.transform(list(data[i]))

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 614 entries, LP001002 to LP002990
Data columns (total 12 columns):
Gender               614 non-null int64
Married              614 non-null int64
Dependents           614 non-null float64
Education            614 non-null int64
Self_Employed        614 non-null int64
ApplicantIncome      614 non-null int64
CoapplicantIncome    614 non-null float64
LoanAmount           614 non-null float64
Loan_Amount_Term     614 non-null float64
Credit_History       614 non-null float64
Property_Area        614 non-null int64
Loan_Status          614 non-null int64
dtypes: float64(5), int64(7)
memory usage: 62.4+ KB

In [37]:
x=['Gender','Married','Education','Self_Employed','Property_Area','LoanAmount','Loan_Amount_Term','Credit_History','Dependents']
y=['Loan_Status']
print(data[x].tail())
print("Target:",y)

          Gender  Married  Education  Self_Employed  Property_Area  \
Loan_ID
LP002978       0        0          0              0              0
LP002979       1        1          0              0              0
LP002983       1        1          0              0              2
LP002984       1        1          0              0              2
LP002990       0        0          0              1              1

          LoanAmount  Loan_Amount_Term  Credit_History  Dependents
Loan_ID
LP002978        71.0             360.0             1.0         0.0
LP002979        40.0             180.0             1.0         3.0
LP002983       253.0             360.0             1.0         1.0
LP002984       187.0             360.0             1.0         2.0
LP002990       133.0             360.0             0.0         0.0
Target: ['Loan_Status']

In [29]:
X_train,X_test,y_train,y_test = model_selection.train_test_split(data[x],data[y],test_size=0.2)

In [34]:
clf=ensemble.RandomForestClassifier(n_estimators=200,max_features=3,min_samples_split=5,oob_score=True,n_jobs=-1,criterion='entropy')
clf.fit(X_train,y_train)
accuracy=clf.score(X_test,y_test)
print("Model Accuracy:",accuracy)

C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

Model Accuracy: 0.7886178861788617